extends layout

block content
    div.header
      h1 The Zine
    div.content
      for article in allArticles
        div
          h1
            a(href="/article/" + article._id + '/show' )=article.title
          p=article.excerpt
          
          
          
