extends layout

block content
    div.header
      h1 The Zine
    div.content
        h3
          a(href="/article/" + allArticles._id + "/edit") Edit
        h1=allArticles.title
        p=allArticles.body
        p=allArticles.excerpt
